.chatRoom {
  width: 400px;
  height: 100%;
  max-height: 428px;
  border: 2px solid #7a3f3e;
  border-radius: 10px;
  background-color: #fafad2;
  display: flex;
  flex-direction: column;
}

.chatHeader {
  background-color: #7a3f3e;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;

  font-family: ADLaM Display, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28.7px;
}

.messages {
  flex: 1;
  margin: 10px 0;
  overflow-y: auto;
  padding-left: 10px;
  min-height: 230px;
  scrollbar-width: thin;
  scrollbar-color: #7a3f3e #fafad2;
}

.message {
  margin: 8px 0;
  color: #7a3f3e;

  font-family: Comic Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.username {
  font-family: ADLaM Display, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
  border-top: 2px solid #7a3f3e;
  padding: 10px;
}

.input {
  flex: 1;
  padding: 5px;
  border: 1px solid #7a3f3e;
  border-radius: 5px;
  outline: none;

  font-family: Comic Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #7a3f3e;
}
.input::placeholder {
  color: #7a3f3e;
}

.sendButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
}
.sendButton > img {
  width: 40px;
  height: 40px;
}

.sendButton:hover {
  outline: 1px solid #7a3f3e;
}

@media screen and (max-width: 500px) {
  .chatRoom {
    width: 90%;
  }
  .chatHeader {
    font-size: 18px;
    line-height: 24.7px;
  }
  .message {
    margin: 10px 0;
    font-size: 15px;
    line-height: 18px;
  }
  .username {
    font-size: 15px;
    line-height: 18px;
  }
  .input {
    font-size: 15px;
  }
  .sendButton > img {
    width: 30px;
    height: 30px;
  }
}
