.emojiRatingWrapper {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.emojiRatingButton {
  width: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.emojiIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.emojiCount {
  font-family: ADLaM Display, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 33.6px;
  color: #7a3f3e;
}

@media screen and (max-width: 500px) {
  .emojiRatingWrapper {
    padding: 10px;
    gap: 1rem;
  }
}
@media screen and (max-width: 350px) {
  .emojiRatingWrapper {
    padding: 10px 2px;
    gap: 0.5rem;
  }
}
