.capyGalleryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #ffb26f 0%, #7a3f3e 100%);
  padding: 3rem 0;
}

.capyGalleryWrapper > h1 {
  font-family: "Hanalei Fill", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 96px;
  color: #7a3f3e;
  margin-bottom: 2rem;
}

.galleryImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.galleryImageContainer > img {
  width: 400px;
  border-radius: 8px;
}
