.watchRoomWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d0e591;
  padding: 1rem 0 0 0;
}

.watchRoomWrapper > h1 {
  font-family: 'Hanalei Fill', sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 96px;
  color: #488029;
  margin-bottom: 2rem;
}

.watchRoomContent {
  margin-bottom: 2rem;
}

.roomCamsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.roomCamsContainer > button {
  padding: 8px 16px;
  border-radius: 12px;
  background-color: #ffb26f;
  color: #7a3f3e;

  font-family: DynaPuff, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.roomCamsContainer > button.selected {
  background-color: #7a3f3e;
  color: #ffffff;
}

.streamToolbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.coinsStatus {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.coinsStatus__title {
  font-family: ADLaM Display, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #7a3f3e;
}

.coinsStatus__value__div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.coinsStatus__value {
  font-family: Commissioner, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #7a3f3e;
}

.progressContainer {
  width: 220px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #7a3f3e;
  overflow: hidden;
  position: relative;
}

.progressBarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(233, 75, 14, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  animation: pulsate 3s infinite;
}

@keyframes pulsate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.progressBar {
  height: 12px;
  background-color: #e94b0e;
  border-radius: 10px;
  transition: width 0.3s ease;
  z-index: 2;
}

.collectButton {
  padding: 8px 20px;
  border-radius: 8px;
  background: #488029;

  font-family: ADLaM Display, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.streamShareIcons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.streamShareIcons > img {
  width: 30px;
}

.videoMainContainer {
  width: 100%;
}

.videoAndCommentSection {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.videoSection {
  min-width: 40%;
  width: 500px;
}
.emojiRatingWrapper {
  background-color: #ffe3a2;
}
.emojiRatingWrapper__mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .watchRoomWrapper > h1 {
    font-size: 60px;
    line-height: 76px;
  }
  .videoAndCommentSection {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .videoSection {
    width: 90%;
  }
  .commentSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffe3a2;
    padding-bottom: 2rem;
  }
  .emojiRatingWrapper {
    display: none;
  }
  .emojiRatingWrapper__mobile {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .streamToolbarContainer {
    flex-direction: column;
  }
  .coinsStatus {
    flex-direction: column;
  }
  .streamShareIcons {
    display: none;
  }

  .roomCamsContainer {
    gap: 0.5rem;
  }
  .roomCamsContainer > button {
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 500px) {
  .hideInMobile {
    display: none;
  }
  .watchRoomWrapper > h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 1rem;
  }
  .watchRoomContent {
    margin-bottom: 1.5rem;
  }
  .streamToolbarContainer {
    gap: 0.8rem;
  }
  .roomCamsContainer {
    padding: 0 0.5rem;
  }
  .roomCamsContainer > button {
    padding: 6px 8px;
    font-size: 15px;
    line-height: 18px;
  }

  .coinsStatus__title {
    font-size: 14px;
    line-height: 18px;
  }
  .coinsStatus__value__div > img {
    width: 22px;
  }
  .coinsStatus__value {
    font-size: 14px;
    line-height: 18px;
  }
  .progressBar {
    height: 10px;
  }

  .collectButton {
    font-size: 15px;
    line-height: 18px;
  }

  .commentSection {
    padding-bottom: 6rem;
  }
}
