.card {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #7a3f3e;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  font-family: Arial, sans-serif;
  color: #5a4a42;

  box-shadow: 4px 4px 0px #7a3f3e;
}

.image {
  height: 300px;
  border-radius: 10px;
  margin-right: 15px;
  object-fit: cover;
}

.content {
  width: 340px;
  display: flex;
  flex-direction: column;

  color: #7a3f3e;
}

.name {
  font-family: DynaPuff, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
}

.age_info {
  font-family: Mulish, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  opacity: 0.8;
}

.location_info {
  font-family: Mulish, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.8;
}

.description {
  margin-top: 5px;

  font-family: Commissioner, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.subheading {
  margin-top: 20px;

  font-family: ADLaM Display, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
}

.text {
  margin-top: 5px;

  font-family: Commissioner, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1000px) {
  .card {
    max-width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .image {
    min-width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .image {
    min-width: 116px;
    height: 186px;
  }

  .name {
    font-size: 22px;
    line-height: 26.4px;
  }
  .age_info {
    font-size: 12px;
    line-height: 14.4px;
  }
  .location_info {
    font-size: 10px;
    line-height: 12px;
  }
  .description {
    font-size: 14px;
    line-height: 16.8px;
  }
  .subheading {
    font-size: 12px;
    line-height: 14.4px;
  }
  .text {
    font-size: 14px;
    line-height: 16.8px;
  }
}
