.footerWrapper {
  background: #7a3f3e;
  color: #fff;

  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 6rem 0;
}

.footer_infoCol {
  display: flex;
  gap: 2rem;

  font-family: Commissioner, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
}
.footer_infoCol > img {
  width: 98px;
  height: 80px;
}

.footer_linksCol {
  display: flex;
  gap: 5rem;
}

.footer_linksCol > * {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navLink {
  font-family: ADLaM Display, sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 36px;
}
