@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=DynaPuff:wght@400..700&family=Hanalei+Fill&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --grass-green: #d0e591;
  --dark-green: #488029;
  --choco-brown: #7a3f3e;
  --babycorn-yellow: #fffcc8;
  --dark-orange: #ca5000;
  --site-green: #60a571;
  --custard: #ffe3a2;
  --cream: #ffeee2;
  --persimmon: #ffb26f;
}

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#choose-capy,
#game-section,
#past-session {
  background: linear-gradient(180deg, #d0e591 0%, #ffffff 100%);
}

@media (max-width: 768px) {
  #choose-capy {
    background: linear-gradient(180deg, #d0e591 0%, #ffe3a2 100%);
  }
}
