@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Commissioner:wght@100..900&family=DynaPuff:wght@400..700&family=Hanalei+Fill&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --grass-green: #d0e591;
  --dark-green: #488029;
  --choco-brown: #7a3f3e;
  --babycorn-yellow: #fffcc8;
  --dark-orange: #ca5000;
  --site-green: #60a571;
  --custard: #ffe3a2;
  --cream: #ffeee2;
  --persimmon: #ffb26f;
  --tomato-red: #f23434;
  --avacado-green: #d7e7c3;
  --button-disabled: #b1b1b1;
  --button-disabled-shadow: #909090;
}

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#login-nft-section,
#nft-market,
#choose-capy,
#game-section,
#past-session,
#shop-nft-section {
  background: linear-gradient(180deg, #d0e591 0%, #ffffff 100%);
}

@media (max-width: 768px) {
  #choose-capy {
    background: linear-gradient(180deg, #d0e591 0%, #ffe3a2 100%);
  }
}
